<h1>Login</h1>

<form action="/sessions" method="post">
  <p>
    <label for="email_input" class="form-label">Email</label>
    <input type="text" class="form-control" name="email" id="email_input">

    <label for="password_input" class="form-label">Password</label>
    <input type="password" class="form-control" name="password" id="password_input">
  </p>


  <button type="submit" class="btn btn-primary">Login</button>
  
</form>
