<h1>Places</h1>

<ul>
  <% for place in @places %>
    <li><a href="/places/<%= place["id"] %>"><%= place["name"] %></a></li>
  <% end %>
</ul>

<p>
  
  <a class="btn btn-primary" href="/places/new" role="button">New place</a>

</p>