<h1>New Place</h1>

<form action="/places" method="post">
  <div class="mb-3">
    <label for="name_input" class="form-label">Name</label>
    <input type="text" class="form-control" name="name" id="name_input">
  </div>


  <button class="btn btn-primary" type="submit">Save</button>


</form>